<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log-path">/var/log/fmw/app/oddle-backend-challenge</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%T] [%X{requestId}] %level %logger{10} - %msg%n"/>
        </Console>
        <RollingFile name="origination-service-file" fileName="${log-path}/oddle-backend-challange.log"
                     filePattern="${log-path}/oddle-backend-challange-%d{yyyy-MM-dd}-%i.old.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%T] [%X{requestId}] %level %logger{10} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="30000 KB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.oddle.app.weather" additivity="false" level="DEBUG">
            <AppenderRef ref="oddle-backend-challange-file"/>
        </Logger>
    </Loggers>
</Configuration>